<div class='container'>
<h1>QA Dashboard</h1>
<br />

<h1>18.2.1.28+ (PI 3) Regression testing progress</h1>
<h3>Updated June 14, 2018</h3>
<br />
  <!-- <h2>Passed</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 17%">17%</div>
  </div>

  <h2>Blocked</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">0%</div>
  </div>

  <h2>Retest</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 2%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">2%</div>
  </div>

  <h2>Failed</h2>

  <div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 1%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">1%</div>
  </div>

  <h2>Untested</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 82%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">82%</div>
  </div> -->

  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width:17%">
      Passed 17%
    </div>
    <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:1%">
      Failed 1%
    </div>
    <!-- <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:20%">
      Retest 20%
    </div> -->
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:82%">
      Untested 82%
    </div>
  </div>
</div>
