<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PrinterLogic</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-ok"></span>QA Dashboard</a></li>
    </ul>
  </div>
</nav>

<div class='container'>
  <h1>QA Dashboard</h1>
<br />

<div class="panel panel-primary">
<h1>18.2.1.28+ (PI 3) Regression testing progress</h1>
<h3>Updated June 14, 2018</h3>
<br />
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width:18%">
      Passed 18%
    </div>
    <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" style="width:3%">
      Blocked 3%
    </div>
    <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:1%">
      Failed 1%
    </div>
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:78%">
      Untested 78%
    </div>
  </div>
</div>

<br />
<div class="panel panel-primary">
<h1>17.1.1.248 (Mx#4) Regression testing progress</h1>
<h3>Updated June 14, 2018</h3>
<br />
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width:17%">
        Passed 17%
    </div>
    <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:0%">
    Failed 0%
    </div>
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:83%">
      Untested 83%
    </div>
  </div>
</div>
  <br />
  <div class="panel panel-primary">
  <h1>17.1.1.211+ (Mx#4) Smoke testing progress</h1>
  <h3>Updated June 14, 2018</h3>
  <br />
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width:89%">
          Passed 89%
      </div>
      <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:9%">
      Failed 9%
      </div>
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:1%">
        Untested 1%
      </div>
    </div>
  </div>
</div>
