<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PrinterLogic</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="color:white;">QA Dashboard</a></li>
    </ul>
  </div>
</nav>
<!-- Begin legend -->
<div class='container'>
  <h1>QA Dashboard</h1>
  <h4>Legend</h4>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:25%; background-color: #95d96d !important;"><strong>PASSED</strong>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%; background-color: #8080ff !important;">
       <strong>BLOCKED</strong>
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%; background-color: #F1888f !important;">
      <strong>FAILED</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:25%; background-color: #707070 !important;">
      <strong>UNTESTED</strong>
    </div>
  </div>
<!-- End legend -->

<!-- Begin PrinterCloud 18.2 Smoke -->
  <div class="panel panel-primary">
  <h2>&ensp;PrinterCloud 18.2 Smoke testing progress</h2><h4><span style="color: red;"> &ensp;username.release.pc.branch.pl-labs.com/admin</span></h4>
  <h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
  <br />
    <div class="progress">
      <!-- <div class="progress-bar" role="progressbar" style="width:89%; background-color: #95d96d !important;">
          <strong>89%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:9%; background-color: #f1888f !important;">
      <strong>9%</strong>
      </div> -->
      <div class="progress-bar" role="progressbar" style="width:100%; background-color: #707070 !important;">
        <strong>100%</strong>
      </div>
    </div>
  </div>
<!-- End PrinterCloud 18.2 Smoke -->

<!-- Begin PI 3 -->
<div class="panel panel-primary">
<h2>&ensp;18.2.1.28+ (PI 3) Regression testing progress</h2>
<h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
<br />
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:63%; background-color: #95d96d !important;"><strong>63%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:3%; background-color: #8080ff !important;">
       <strong>3%</strong>
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:5%; background-color: #f1888f !important;"><strong>5%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:29%; background-color: #707070 !important;">
      <strong>29%</strong>
    </div>
  </div>
</div>
<!-- End PI 3 -->

<!-- Begin Mx#4 Regression -->
<div class="panel panel-primary">
<h2>&ensp;17.1.1.252 RELEASED</h2><h4><span style="color: red;">&ensp;(Test Closure in Process)</span></h4>

<h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
<br />
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:89%; background-color: #95d96d !important;">
        <strong>89%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:3%; background-color: #8080ff !important;">
        <strong>3%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:7%; background-color: #f18884 !important;">
        <strong>7%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:1%; background-color: #707070 !important;">
      <strong>1%</strong>
    </div>
  </div>
</div>
<!-- End Mx#4 Regression -->

<!-- Begin Mx#4 Smoke
  <div class="panel panel-primary">
  <h2>17.1.1.211+ (Mx#4) Smoke testing progress</h2>
  <h4>Updated <span><%= Time.now.asctime %></span></h4>
  <br />
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:89%; background-color: #95d96d !important;">
          <strong>89%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:9%; background-color: #f1888f !important;">
      <strong>9%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:2%; background-color: #707070 !important;">
        <strong>2%</strong>
      </div>
    </div>
  </div>
End Mx#4 Smoke -->
</div>
